.ProgressBar {
  width: 300px;
  height: 5px;
  background: rgba(0,0,0,0.3);
  margin: auto;
}

.ProgressBar__progress {
  height: inherit;
  background: rgb(254, 254, 127);
  transition: 400ms ease-in-out;
}
