.Fighter {
  height: 100vh;
  width: 100vw;
}

.Fighter__image {
  display: block;
  height: 100vh;
  width: 100vw;
  background: no-repeat top center;
  background-size: cover;
  filter: contrast(110%);
  animation: fighterIn 1s ease-out both;
}

@keyframes fighterIn {
  0% {
    transform: translateY(40px);
    filter: contrast(110%) brightness(0);
  }

  100% {
    transform: translateY(0);
    filter: contrast(110%) brightness(100%);
  }
}
