.Fighter {
  width: 300px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  animation: fighterIn 1s ease-out both;

  &__image {
    display: block;
    width: inherit;
    height: 300px;
    margin-bottom: 24px;
    background: no-repeat top center;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.1);
    filter: contrast(110%);
  }

  &__name {
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -3px 3px 0 black;
    color: white;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1;
  }
}


@keyframes fighterIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
    filter: contrast(110%) brightness(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: contrast(110%) brightness(100%);
  }
}
