.Fighter {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fighterIn 1s ease-out both;
}

.Fighter__image {
  display: block;
  width: inherit;
  height: 50vh;
  margin-bottom: 24px;
  background: no-repeat top center;
  background-size: contain;
  filter: contrast(110%);
}

.Fighter__name {
  -webkit-text-stroke: 2px black;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -3px 3px 0 black;
  color: white;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

@keyframes fighterIn {
  0% {
    transform: translateY(40px);
    filter: contrast(110%) brightness(0);
  }

  100% {
    transform: translateY(0);
    filter: contrast(110%) brightness(100%);
  }
}
